<div data-ng-controller="SummaryController as sc" class="summary">
    <p class="col-sm-4">Interruption Time Sum:</p><p class="col-sm-8">{{ sc.showTimeSum(sc.getInterruptions()) }}</p>
    <p class="col-sm-4">Interruption Time Mean:</p><p class="col-sm-8">{{ sc.showTimeMean(sc.getInterruptions()) }}</p>
    <p class="col-sm-4">Delta Time Sum:</p><p class="col-sm-8">{{ sc.showTimeSum(sc.getDeltas()) }}</p>
    <p class="col-sm-4">Delta Time Mean:</p><p class="col-sm-8">{{ sc.showTimeMean(sc.getDeltas()) }}</p>
    <p class="col-sm-4">Correlation Coefficient:</p><p class="col-sm-8">{{ sc.showCorrelationCoefficient() | number:4 }}</p>
</div>
