<table class="table table-hover">
    <thead>
        <tr>
            <th>Project</th>
            <th>Phase</th>
            <th>Date</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Interrupt Time</th>
            <th>Delta Time</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="log in mc.timeLogger.allMyTimeLogs | orderBy: '-start'">
            <td>{{ log.myProject }}</td>
            <td>{{ log.myPhase }}</td>
            <td>{{ log.start | date:"d MMM yyyy"}}</td>
            <td>{{ log.start | date:"h:mm a"}}</td>
            <td>{{ log.stop | date:"h:mm a" }}</td>
            <td>{{ log.interruption | date:"H:mm":"UTC" }}</td>
            <td>{{ log.delta | date:"H:mm":"UTC" }}</td>
            <td>{{ log.comment }}</td>
        </tr>
    </tbody>
</table>
